.profilePic {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.projectIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }

  .hidden {
      display: none;
  }

  .image {
    box-shadow: inset 3px 3px 5px black;
  }

  .modalContents {
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 100%;
      align-items: flex-end;
      background-color: black;
  }

  .modal-body {
    width: 100%;
    height: 100%; 
  }

  #appstore {
      margin-bottom: 0px;
      height: 50px;
      width: 150px;
      vertical-align: middle;
  }

  #homeButton:hover {
    text-shadow: 0 0 3px white;
  }
  
  #homeButton {
    font-size: 17px !important; 
    letter-spacing: 0 !important; 
    color: white !important;
  }
  
  .modal-child {
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 3%;
    height: 95%;
    overflow-y: auto;
    /* transform: translate(-50%, -50%); */
  }
  .rotate-right {
      display: none
  }
  
.closeIcon {
    border-radius: 50%;
    align-self: right;
    height: 20px;
    width: 20px;
}
.closeIcon:hover {
    cursor: pointer;
    height: 22px;
    width: 22px;
}
#resume {
    transition: 0.5s;
    transform-style: preserve-3d;
    color: white;
    width: fit-content;
}
#resume:hover {
    cursor: pointer;
    transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
#resume:after {
	top: -100%;
	left: 0px;
	width: 100%;
	position: absolute;
	content: 'View/Download';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}

ul.icons li > a {
  transition: all 0.5s ease;
}

ul.icons li > a:hover {
  cursor: pointer;
  text-shadow: 1px 1px 2px white, 0 0 15px white;
}

#headIcons {
    margin-bottom: 1px;
}
#appstore{
    font-size: 20px; margin-left: 5%;
}

#appstoreimage {
    transition: all 0.5s ease;
}

#appstoreimage:hover {
    box-shadow: 0 4px 8px 0 white;
  transform: scale(1.05) perspective(10px);
}

#ProjectLinkId:hover {
    box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
@media all and (max-width: 900px) {
    .modalContents {
        width: 100%;
    }
    #appstore{
        margin-left: 0.2%;
    }
    #appstore:hover {
        box-shadow: none;
    }

  }




