.profilePic {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.projectIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.ProjectLink{
    
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    background-color: black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    top: 3%;
    left: 25%;
    max-height: 95%;
    overflow-y: auto;
    /* transform: translate(-50%, -50%); */
  }
  .rotate-right {
      display: none
  }
  
.closeIcon {
    border-radius: 50%;
    align-self: right;
    height: 20px;
    width: 20px;
}
.closeIcon:hover {
    cursor: pointer;
    height: 22px;
    width: 22px;
}
#resume:hover {
    cursor: pointer;
    color: white;
    /* font-weight: 900; */
}
#headIcons {
    margin-bottom: 1px;
}





